

<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - CAIR</title>
    <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Francois+One:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Francois+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static 'assets\css\styles.min.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <main>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{% url 'home' %}" style="font-size:20px;'Merriweather Sans', sans-serif; font-weight: normal;">The Centre for Artificial Intelligence Research&nbsp;<br></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto" style="font-family:Lato, sans-serif;">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'node' %}">Nodes</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'people' %}">People</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'publications' %}">Publications</a></li>
                    {% if user.is_authenticated %}
                           <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}" style="background-color:#535151;">Logout</a></li>
                        {% else %}
                          <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}" style="background-color:#535151;">Login</a></li>
                        {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <header class="masthead" style="background-image:url({% static 'assets\img\handAI.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title" style=" font-family: Merriweather Sans, sans-serif; font-size:31px; font-weight: 800;">About CAIR</h2>
                        </a>
                        <p style="font-family: Lato;font-size:14px;">The Centre for Artificial Intelligence Research (CAIR) is a South African distributed Centre of Excellence that conducts foundational, directed and applied research into various aspects of Artificial Intelligence. CAIR has nodes at
                            five South African universities: the University of Cape Town, University of KwaZulu-Natal, North-West University, University of Pretoria and Stellenbosch University, and is coordinated and managed by the Meraka Institute at the
                            Council for Scientific and Industrial Research.<br><br>CAIR was founded by Prof. Tommie Meyer and Dr. Deshen Moodley in November 2011 as a joint research centre between the University of KwaZulu-Natal and the Council for Scientific
                            and Industrial Research (CSIR). In 2015 CAIR expanded to four other South African universities with the CSIR playing a coordinating role. CAIR is primarily funded by the Department of Science and Technology (DST), as part of the
                            implementation of South Africa's ICT Research, Development and Innovation (RDI) Roadmap. CAIR’s mandate is to strengthen RDI capacity at participating nodes to guide South Africa to a state of digital advantage in Artificial Intelligence
                            that will strengthen economic competitiveness and enable an enhanced quality of life for all South Africans. The CSIR Meraka Institute, as an implementing body of the RDI, established CAIR as a National Centre of Excellence in
                            Artificial Intelligence Research.<br><br><img style="background-image:url({% static 'assets\img\cair-logo_3.png' %});"><img style="background-image:url({% static 'assets\img\csir.jpg' %});"></p>
                    </div>
                    <hr>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <p class="text-muted copyright" style="font-family: Lato;font-size:14px;">Copyright&nbsp;©&nbsp;Jen Purchase, Jana Wessels, James Watters 2018</p>
                    </div>
                    <div
                        class="col"><img src="{% static 'assets/img/cair-logo_3.png' %}" width="50" style="background-image:url(&quot;/assets/img/csir.jpg?h=6fd4231655dcb2277522636f12c9ce9d&quot;);"><img src="{% static 'assets/img/csir.jpg' %}" width="50" style="background-image:url(&quot;/assets/img/csir.jpg?h=6fd4231655dcb2277522636f12c9ce9d&quot;);">
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
        <script src="{% static '/assets/js/script.min.js' %}"></script>
    </main>
</body>

</html>